<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="@Url.Content("~/content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/content/bootstrap-responsive.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/content/restful.routing.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/scripts/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/scripts/prettify.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/scripts/restful.routing.js")" type="text/javascript"></script>
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <title>Restful Routing - @ViewBag.Title</title>
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <a class="brand" href=".@Url.Action("index", "home")">Restful Routing</a>
              <div class="nav-collapse">
                <ul class="nav">
                    <li class="">@Html.ActionLink("Quick Start", "show", "quickstart")</li>
                    <li class="">@Html.ActionLink("RouteSet", "show", "routeset")</li>
                   <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Mapping <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Resource &amp; Resources</a></li>
                        <li><a href="#">Areas</a></li>
                        <li><a href="#">Extras</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
            @RenderBody()
            <footer class="footer">
                <p class="pull-right"><a href="#">Back to top</a></p>
            </footer>
        </div>
    </body>
</html>
